<!DOCTYPE html>
<html>
<head>
	<title>Form  Application Demo in js</title>
	<script type="text/javascript" src="https://code.jquery.com/jquery-3.6.0.min.js">
		
	</script>
</head>

<body>
	<form id="frm">
		<table align="center" border="1">
			<caption style="font-weight: bold;">Form</caption>
			<tr>
				<th>Name</th>
				<td><input id="name" type="text" name="name"></td>
			</tr>
			<tr>
				<th>Password</th>
				<td><input id="password" type="password" name="pass"></td>
			</tr>
			<tr>
				<td><input type="submit" id="submit" name="s"></td>
			</tr>
		</table>
	</form>
</body>

<script type="text/javascript">

		$(document).ready(function () 
		{
			$("#submit").click(function () 
			{
				var name = $("#name").val();
				var pass = $("#password").val();
			
			})
			$.ajax({
				type: "post",
				url: "insert.php",
				data: "name = "+name+" &password = "+pass,
				sucess:(function (data) 
				{
					alert(data);
				})
			});
		});
</script>
</html>